{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <title>Test case managment system</title>
    <meta charset="UTF-8">
    <meta name="description" content="Test Managment system">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700|Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="container">
        <header>
            <a href="{% url 'diplom:projects' %}"> <img src="{% static 'img/logo.png' %}" alt="TMS" class="logo"/></a>
            <div class="welcome">
                {% if request.user.is_authenticated %}
                    <p>Hello {{request.user.username|title }},you last logged in at  {{request.user.last_login}}. <a href="{% url 'diplom:logout'%}">Logout</a></p>
                {% else %}
                    <p>Welcome guest! <a href="{% url 'diplom:login'%}">Login</a></p>
                {% endif %}
            </div>
        </header>
   {% block nav %}{% endblock %}
        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>TMS footer</p>
        </footer>
     </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>