{% extends "diplom/base.html" %}
{% load humanize %}

{% block content %}

    <form action="{% url 'diplom:edit' testcase.id %}" method="post">
    {% csrf_token %}
    <label for="title">Title		<span class="form-required">*</span></label>
    <br>
    <input name="title" class=" " id="title" type="text" maxlength="250" value="{{testcase.title}}">
    <br>
    <label for="estimate">Estimate              <span class="form-required">*</span></label>
    <br>
    <input name="estimate" class=" " id="estimate" type="text" maxlength="250" value="{{testcase.estimate}}">
    <br>
    <label for="precondition">Precondition</label>
    <br>
    <textarea name="precondition">{{tescase.precondition}}</textarea>
    <br>

    <br>
    <label>Steps 		<span class="form-required">*</span></label>
    <br>
    <textarea name="custom_preconds" class="custom form-control form-control-full  processed textarea-with-grippie" id="custom_preconds" placeholder="" rows="3">{{testcase.steps}}</textarea>

    <label>Expected Result		<span class="form-required">*</span></label>
    <br>
    <textarea name="custom_preconds" class="custom form-control form-control-full  processed textarea-with-grippie" id="custom_preconds" placeholder="" rows="3">{{testcase.expected_result}}</textarea>
    <input type="submit" class="btn btn-lg btn-default" value="Save" />  <input type="submit" class="btn btn-lg btn-default" value="Cancel" />


    </form>
    {% endblock %}


