{% extends "diplom/base.html" %}
{% load humanize %}
{% block project-name %} Projects{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-4"> <h4>Open project(s)</h4></div>
  <div class="col-sm-8" style="text-align:right;"> <a  class="btn btn-md  btn-primary" href ="{% url 'diplom:tp-add'  %} ">Add Test Project</a></div>
</div>
    <hr>
    {% for test_project in test_projects %}
        {% if test_project.status.name == "Open" %}

    <div class="row">
  <div class="col-sm-4"><h5><a href="{% url 'diplom:list_testsuits' test_project.id %}"> {{test_project.name}}</a></h5>
            <a class="link" href="{% url 'diplom:list-testruns' test_project.id%}">Test Runs</a> |
            <a href="{% url 'diplom:list_testsuits' test_project.id %}"> Test Suites</a> |</div>

  <div class="col-sm-8" style="text-align:right;">
      <a href="{% url 'diplom:tp-close' test_project.id %}" class="btn btn-xs  btn-danger">Close Project</a></div>
</div>
            <hr>
        {% endif %}
    {% endfor%}
    <h4>Completed project</h4>
    {% for test_project in test_projects %}
        {% if test_project.status.name == "Closed" %}
    <h5><a href="{% url 'diplom:list_testsuits' test_project.id %}" style="font-style:italic;"> {{test_project.name}}</a></h5>

        {% endif %}
    {% endfor %}
{% endblock %}