{% extends "diplom/base-nav.html" %}
{% load humanize %}
{% block ts_url %} {% url 'diplom:list_testsuits' tp_id %} {% endblock %}
{% block tr_url %}{% url 'diplom:list-testruns'  tp_id %} {% endblock %}
{% block tab1-active %}active {% endblock %}
{% block content %}


{% if test_cases %}
<h3>Seaarch result(s) for "{{search_word}}":</h3>
    <ul>
    {% for testcase in test_cases %}
      <li><a href="{% url 'diplom:tc-detail' testcase.testSuit.project.id testcase.testSuit.id  testcase.id %}">{{ testcase.title }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No test cases are available.</p>
{% endif %}
{% endblock %}
