{% extends "diplom/base-nav.html" %}
{% load humanize %}
{% block project-name %}{{testRun.testProject.name}} > {{testRun.name}} {% endblock %}
{% block ts_url %} {% url 'diplom:list_testsuits' tp_id %} {% endblock %}
{% block tr_url %}{% url 'diplom:list-testruns'  tp_id %} {% endblock %}
{% block tab2-active %}active {% endblock %}
{% block content %}




   <table class="table table-hover">
    <thead>
      <tr>
        <th>Test case</th>
        <th>Priority</th>
        <th>Test run status</th>
      </tr>
    </thead>
    <tbody>
      {% for tr_tc in testrun_testcase %}
    <tr class=  {% if tr_tc.testrunresult %}
                {% ifequal  tr_tc.testrunresult.status.name "Passed" %} "success"
                {% else %} "danger"
                {% endifequal %}
      {% endif %}"active">
        <td>
      <a href="{% url 'diplom:trr-detail' tp_id tr_id tr_tc.testCase.id %}">{{ tr_tc.testCase.title }} </a>
        </td>
        <td>{{ tr_tc.testCase.priority }}</td>
     </td>
        <td>{% if tr_tc.testrunresult %}
                {{tr_tc.testrunresult.status}}
            {% else %}
                Not run yet
            {% endif %}
        </td>
     </tr>
    {% endfor %}


    </tbody>
  </table>
{% endblock %}
